<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="My Portfolio">
  <title>เดฟไปวัน ๆ | Portfolio</title>
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

  <link rel="canonical" href=".">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
  <div id="app" class="container">
    <h1 class="title">My Portfolio</h1>
    <template v-for="c in port.category">
      <template v-for="(p, i) in port[c].platforms">
        <h2>#{{port[c][p].title}}</h2>

        <div class="columns is-multiline">
          <div class="column is-one-third" v-for="(a, i) in port[c][p].app">
            <div>
              <img :src="port[c][p].app[i].cover" :alt="port[c][p].app[i].name">
            </div>
            <h2>{{port[c][p].app[i].name}}</h2>
            <p>
              <i v-if="port[c][p].title == 'Android'" class="fab fa-android"></i>
              <i v-if="port[c][p].title == 'IOS'" class="fab fa-apple"></i> 
              {{port[c][p].title}}
            </p>
            <p><a target="_blank" :href="a.link">See more...</a></p>
          </div>
        </div>
      </template>
    </template>
  </div>
  <footer>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          port: {
            category: []
          }
        },
        created: function () {
          this.getPortfolio();
        },
        methods: {
          getPortfolio: function () {
            let self = this;
            fetch("api/v1/category.json").then(function (response) {
                return response.json();
              })
              .then(function (json) {
                self.port = json;
              });
          }
        }
      });
    </script>
  </footer>
</body>

</html>